{{ define "content" }} {{ $userID := "01958247-10d3-7348-8006-c0d6db836a01" }}
<style>
    #seat-map {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        gap: 0.5rem;
        width: 100%;

        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &:hover {
                background: darkcyan;
                color: white;
                cursor: pointer;
            }

            &.selected {
                background: darkcyan;
                color: white;
            }

            &.Available {
                border: 2px solid darkgreen;
                background: lightgreen;
            }

            &.Reserved {
                border: 2px solid darkred;
                background: red;
            }
        }
    }
</style>
<h1>{{ .Name }}</h1>

<div id="seat-map">
    {{ range .Seats}} <button class="{{.Status}}" data-seat-id="{{ .ID }}">{{ .Seat }}</button>

    {{ end }}
</div>

<div id="basket" hx-get="/user/{{$userID}}/basket" hx-trigger="load"></div>

<script>
    const seats = document.querySelectorAll("#seat-map button");
    seats.forEach((seat) => {
        seat.addEventListener("click", () => {
            fetch("/reserve", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    seat_ids: [seat.dataset.seatId],
                    event_id: {{ .ID }},
                    user_id: {{ $userID}}
                }),
            })
            .then((response) => response.json())
            .then((data) => {
                if (data.error) {
                    alert(data.error);
                } else {
                    seat.classList.toggle("selected");
                }
            });
        });
    });
</script>

{{ end }}
